body {
    width: 1440px;
    height: 1795px;
    background-image: url("../img/page-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 1025px;
    height: 1350px;
    background-color: #fff;
    padding-top: 115px;
    padding-left: 63px ;
    margin-left: 325px;
    margin-top: 115px;
}

.top {
    width: 900px;
    height: 535px;
    display: inline-block;
}

.bottom {
    width: 900px;
    height: 560px;
    display: inline-block;
}

.left-top {
    display: inline-block;
/*    margin-right: 63px;*/
    float: left;
    width: 640px;
    height: 535px;
}

h2 {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 32px;
    color: #263555;
    text-transform: uppercase;
    margin-bottom: 33px;    
}

img {
    width: 360px;
    height: 280px;
    float: left;
    padding-right: 35px;
    padding-bottom: 25px;
}

h3 {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 15px;
    line-height: 1.267;
    color: #263555;
}

.right-top {
/*    display: inline-block;*/
    width: 200px;
/*    height: 535px;*/
    box-sizing: border-box;
    float: right;
    position: relative;
}

.list1 {
    position: relative;
/*    text-indent: 30px;*/
    width: 170px;
}

.list1:before {
    content: url("../img/circle1.png");
    margin-right: 26px;
    position: absolute;
}

p {
    font-family: "Arial", Serif;
    font-size: 13px;
    line-height: 1.462;
}


.wwo {
    margin-bottom: 60px;
}

.left-list {
        display: inline-block;
        list-style-type: none;
        font-family: "Arial", serif;
        color: #263555;
        font-size: 15px;
        line-height: 1.52;
}

.left-list > li:before {
    content: url("../img/mark.png");
    padding-right: 15px;
}

.right-list {
    display: inline-block;
    list-style-type: none;
    font-family: "Arial", serif;
    color: #263555;
    font-size: 15px;
    line-height: 1.52;
    vertical-align: top;
}

.right-list > li:before {
    content: url("../img/mark.png");
    padding-right: 15px;
}

.right-column {
    font-family: "Arial", serif;
    font-size: 13px;
    line-height: 1.462;
    margin-bottom: 20px;
}

.clearfix:after {
   content: "";
   display: inline-block;
   clear: both;
}

hr {
    margin-top: 55px;
    margin-bottom: 60px;
    margin-left: 0px;
    margin-right: 0px;
    width: 900px;
}

.left-bottom {
    display: inline-block;
    float: left;
    width: 640px;
    height: 535px;
}

.right-bottom {
    display: inline-block;
    width: 210px;
    box-sizing: border-box;
    float: right;
}

.box_testimonial {
    height: 192px;
    width: 210px;
    background-color: #fcfafa;
}

.text-testimonial {
    font-family: "Arial", serif;
    font-size: 15px;
    line-height: 1.267;
    padding-left: 24px;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-top: 26px;
    color: #263555;
}

.text-testimonial:before {
    content: open-quote;
}
.text-testimonial:after {
    content: close-quote;
} 

.triangl {
    width: 0;
	height: 0;
    margin-left: 70px;
    margin-top: -26px;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 25px solid #fcfafa;
}

.left_li {
    padding-bottom: 10px;
}

.testimonial {
    font-family: "Arial", serif;
    font-size: 16px;
    line-height: 1.425;
    margin-top: 41px;
    text-align: center;
    color: #263555;
}

span {
    font-family: "Arial", serif;
    font-size: 13px;
    line-height: 1.462;
    padding-left: 13px;
}



.list2 {
    position: relative;
}

.list2:before {
    content: url("../img/circle1.png");
    margin-right: 26px;
    position: absolute;
}
