p {
    margin: 0px;
}

h3 {
    margin: 0px;
}

ul {
    padding-left: 0px;
}

body {
    width: 100%;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    width: 1024px;
    margin: 0 auto;
}

header {
    width: 1024px;
    height: 235px;
}

main {
    display: block;
    height: auto;
    background-color: #fff;
    padding: 58px 61px;
}

.top_nav {
    list-style: none;
    position: relative;
    padding-left: -40px;
}
.nav_menu {
    display: inline-block;
    font-family: 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;
    font-size: 28px;
    color: #fff;
    margin: 0 33px;
}
.nav_menu > a {
    text-decoration: none;
    color: inherit;
}

.journey{
    font-family: "Dorsa", sans-serif;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 140px;
    color: #263555;
    background-color: #fff;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    position: relative;
    top: 13px;
    text-align: center;
    text-shadow: none;
}

.nav_menu:hover {
    color: #263555;
/*    text-shadow: 1px 1px 2px black, 0 0 1em #263555;*/
}
.submenu {
    background-color: #fff;
    width: 66px;
    height: 84px;
    padding-left: -40px;
    text-align: center;
}

.submenu_list {
    background-color: #fff;
    width: 66px;
    height: 84px;
    position: absolute;
    line-height: 1.4;
    text-align: center;
    list-style: none;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 4px;
    display: none;
}

.submenu_list:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -8px;
    left: 25px;
}

.submenu_list a {
     text-decoration: none;
     color: #6b7488;
}

.about:hover > .submenu_list {
    display: block;
    top: 100px;
    left: 145px;
    transition: all .2s ease-in-out;
}

.slider {
    width: 900px;
    position: relative;
}

.slider__text__1 {
    position: absolute;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 22.41px;
    color: #263555;
    bottom: 324px;
    text-transform: uppercase;
    padding: 23px 21px;
    background-color: #fff;
    border-left: 0.1px solid #000;
}

.slider__text__2 {
    position: absolute;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 34.42px;
    color: #fff;
    bottom: 250px;
    text-transform: uppercase;
    padding: 17px 16px;
    background-color: #38afe5;
}

/*
.slider__nav {
    position: absolute;
    bottom: 45px;
    background-color: #38afe5;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    left: 60px;
}

.slider__nav:before {
    content: "←";
    color: #fff;
    position: absolute;
    margin-top: 35px;
    margin-left: 20px;
} 

.slider__nav:after {
    content: "→";
    color: #fff;
    position: absolute;
    margin-top: 35px;
    margin-left: 52px;
}
*/

.left__side__slider__nav {
    position: absolute;
    display: inline-block;
    width: 45px;
    height: 90px;
    background-color: rgba(56, 175, 229, 0.5);
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    left: 50px;
    bottom: 44px;
/*    box-shadow: 8px 2px 12px 2px rgba(142, 167, 178, .5);*/
}

/*
.left__side__slider__nav a {
    text-decoration: none;
    color: #fff;
    position: absolute;
    left: 22px;
    bottom: 40px;
}
*/

.right__side__slider__nav {
    position: absolute;
    display: inline-block;
    width: 45px;
    height: 90px;
    border-radius: 0 100% 100% 0 / 0 50% 50% 0;
    left: 95px;
    bottom: 44px;
    background-color: rgba(56, 175, 229, 0.5);
/*    box-shadow: 8px 2px 12px 2px rgba(142, 167, 178, .5);*/
}

/*
.right__side__slider__nav a {
    text-decoration: none;
    color: #fff;
    position: absolute;
    left: 4px;
    bottom: 40px;
}
*/

.right__side__slider__nav:before {
    position: absolute;
    content: "→";
    left: 10px;
    top: 33px;
    text-decoration: none;
    color: #fff;
}

.right__side__slider__nav:hover, .left__side__slider__nav:hover {
    background-color: rgba(56, 175, 229, 1);
    transition: 1s cubic-bezier(.96,.26,.24,.9), color 3s 1s linear;;
    box-shadow: 8px 2px 12px 2px rgba(142, 167, 178, .5);
}

.left__side__slider__nav:before {
    position: absolute;
    content: "←";
    left: 20px;
    top: 33px;
    text-decoration: none;
    color: #fff;
}

h2 {
    /*margin: 0px;*/
    margin-top: 59px;
    margin-bottom: 49px;
    text-transform: uppercase;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 30.42px;
    color: #263555;
}

.venice {
    display: inline-block;
    position: relative;

}

.venice__text {
    position: absolute;
    bottom: 4px;
    width: 146px;
    height: 271px;
    background-color: #193149;
    display: none;

}

.venice:hover > .venice__text {
    display: block;

}

h3 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 30.42px;
    font-family: "Open Sans Condensed", sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: 100;
    text-align: center;
}

span {
    display: block;
    padding-left: 15px;
    padding-right: 5px;
    line-height: 1.557;
    color: #cbc6c6;
    font-family: "Arial";
    font-size: 10.41px;
}

button {
    background-color: #fcf5f7;
    border: none;
    border-radius: 3px;
    position: absolute;
    left: 80px;
    bottom: 25px;
}

.ny {
    display: inline-block;
    margin-right: 12px;
    margin-left: 12px;
}

.paris {
    display: inline-block;
}

.to__top {
    position: fixed;
    top: calc(100% - 150px);
    right: calc(100% - 84.3%);
    box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
}