* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face { 
	font-family: "Brandon Regular"; 
	src: 	url("../fonts/Brandon Regular/BrandonGrotesque-Regular.eot");
	src: 	url("../fonts/Brandon Regular/BrandonGrotesque-Regular.woff") format("woff"), 
			url("../fonts/Brandon Regular/BrandonGrotesque-Regular.ttf") format("truetype"); 
	font-weight: normal; 
	font-style: normal; 
}

@font-face { 
	font-family: "Brandon Bold";
	src: 	url("../fonts/Brandon Bold/BrandonGrotesque-Bold.eot");
	src: 	url("../fonts/Brandon Bold/BrandonGrotesque-Bold.woff") format("woff"), 
			url("../fonts/Brandon Bold/BrandonGrotesque-Bold.ttf") format("truetype"); 
	font-weight: normal; 
	font-style: normal; 
}
@font-face {
	font-family: "Brandon Light";
	src: 	url("../fonts/Brandon Light/BrandonGrotesque-Light.eot");
	src:	url("../fonts/Brandon Light/BrandonGrotesque-Light.woff") format("woff"),  
			url("../fonts/Brandon Light/BrandonGrotesque-Light.ttf") format("truetype"); 
	font-weight: normal; 
	font-style: normal; 
}

@font-face {
	font-family: "Cubano Regular";
	src: 	url("../fonts/Cubano Regular/cubano-regular-webfont.eot");
	src: 	url("../fonts/Cubano Regular/cubano-regular-webfont.woff") format("woff"),
			url("../fonts/Cubano Regular/cubano-regular-webfont.ttf") format("truetype");
	font-weight: normal; 
	font-style: normal; 
}

.wrapper	{
	min-width: 320px;
}

.first-page	{
	/*height: 620px;*/
	height: 100%;
	width: 100%;
	background-image: url(../img/bg3.jpg);
	background-size: cover;	
	background-position: center center;
}

 .nav	{
 	display: flex;
	padding-top: 50px;
	padding-left: 20%;
 }

 .nav_menu {
 	display: flex;
 }

 .nav_menu_list {
	display: flex; 
	list-style: none;
 }

 .nav_item {
 	padding-left: 35px;
 }

 .logo {
 	font-family: "Cubano Regular";
 	font-size: 25px;
 	font-transform: uppercase;
 	position: relative;
 	margin-right: 40%;
 }

 .logo a {
 	color: #fff;
 	text-decoration: none;
 }

 .logo:before {
 	content: url("../img/paper-plane.png");
 	position: absolute;
 	left: -40px;
 }

 .nav_item a {
 	font-family: "Brandon Regular";
 	font-size: 18px;
 	list-style: none;
 	color: #fff;
 	text-decoration: none;
 }

 .titles {
 	display: block;
 	margin: 165px auto;
	height: 260px;
	text-align: center;
 }

 .sub_title {
 	font-family: "Brandon Regular";
 	color: #fff;
 	font-size: 32px;
 }

.main_title {
	font-family: "Brandon Regular";
 	color: #fff;
 	font-size: 66px;
 	text-transform: uppercase;
 	/*letter-spacing: -2px;*/
 	font-weight: 100;
 	margin-top: 35px;
 	margin-bottom: 40px;
}

.button {
	display: inline-block;
	padding: 15px 65px;
	border: 3px solid #fff;
	border-radius: 4px;
	font-family: "Brandon Bold";
	text-decoration: none;
	color: #fff;
	font-size: 23px;
}

.second_page {
	display: flex;
	padding: 120px 20%;
}

.third_page {
	display: flex;
	padding: 120px 20%;
	background-color: #fafafa;
}

.second_page p, .third_page p {
	font-family: "Brandon Regular";
	font-size: 18px;
	line-height: 1.333;
	color: #777777;
	margin-top: 25px;
}

.web {
	font-family: "Brandon Regular";
	font-size: 60px;
	font-weight: 100;
	padding-right: 10px;
}

.development {
	font-family: "Brandon Bold";
	font-size: 60px;
	font-weight: 800;
	padding-right: 10px;
}

.second_page_img  {
	margin-left: 180px;
	padding-top: 25px;
}

.third_page_img {
	margin-right: 180px;
	padding-top: 25px;
}

.fourth_page {
	height: 100%;
}

.fourth_page_container {
	display: flex;
	width: 65%;
	margin: 0 auto;
	margin-top: 100px;
}

.left_column {
	width: 50%;
	display: flex;
	flex-direction: column;
	margin-right: 110px;
}

.fourth_page_header {
	position: relative;
	font-family: "Brandon Regular", sans-serif;
	font-size: 22px;
	margin-bottom: 23px;
	font-weight: 800;
	letter-spacing: 2px;
}

.fourth_page_text {
	font-family: "Brandon Regular", sans-serif;
	font-size: 18px;
	color: #777;
	margin-bottom: 60px;
}

.right_column {
	width: 50%;
	display: flex;
	flex-direction: column;
}

.bandi:before {
	content: url(../img/Person-Icon.png);
	position: absolute;
	left: -90px;
}

.mad:before {
	content: url(../img/iPad-Icon.png);
	position: absolute;
	left: -90px;
} 

.uiux:before {
	content: url(../img/Star-Icon.png);
	position: absolute;
	left: -90px;
} 

.wandgd:before {
	content: url(../img/Star-Icon.png);
	position: absolute;
	left: -90px;
} 

.anim:before {
	content: url(../img/Video-Icon.png);
	position: absolute;
	left: -90px;
} 

.photo:before {
	content: url(../img/Camera.png);
	position: absolute;
	left: -90px;
} 

.fifth_page {
	height: 100%;
	background-color: #fafafa;
	padding-top: 85px;
	padding-bottom: 85px;
}

.fifth_page_header {
	text-align: center;

}	

.fifth_page_header p {
	font-family: "Brandon Regular", sans-serif;
	font-size: 18px;
	color: #777;
}

.fifth_page_body {
	width: 67%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding-top: 55px;
}

.fifth_page_body_container {
	display: flex;
	align-items: center;
}

.fifth_page_body_div_left {
	position: relative;
	height: 175px;
	width: 68%;
	border: 1px solid #f3f3f3;
	background-color: #fff;
	padding-left: 4%;
	padding-right: 4%;
	margin-left: 8%;
	padding-top: 5%;
}

.fifth_page_body_div_left:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	left: -15px;
	top: 40%;
	border-top: 15px solid transparent;
	border-right: 15px solid #fff;
	border-bottom: 15px solid transparent;
}

.fifth_page_body_div_right {
	position: relative;
	height: 175px;
	width: 68%;
	border: 1px solid #f3f3f3;
	background-color: #fff;
	padding-left: 4%;
	padding-right: 4%;
	margin-right: 8%;
	padding-top: 5%;
}

.fifth_page_body_div_right:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	left: 100%;
	top: 40%;
	border-top: 15px solid transparent;
	border-left: 15px solid #fff;
	border-bottom: 15px solid transparent;
}

.fifth_page_body_div_left span, .fifth_page_body_div_right span {
	font-family: "Brandon Regular";
	text-align: center;
	font-size: 26px;
	line-height: 1.247;
	color: #777;
}

.fifth_page_body_div_left p, .fifth_page_body_div_right p {
	font-family: "Brandon Regular";
	font-size: 20px;
	line-height: 1.8;
	color: #7690c5;
}

.six_page {
	margin: 0 auto;
	height: 100%;
	width: 67%;
	padding-top: 35px;
	padding-bottom: 35px;
	display: flex;
	justify-content: space-around;
	text-align: center;
}

.sevens_page {
	background-color: #000;
	height: 100%;
	padding-top: 85px;
	padding-bottom: 85px;
}

.sevens_page_header {
	text-align: center;
}	

.sevens_page_header p {
	font-family: "Brandon Regular", sans-serif;
	font-size: 18px;
	color: #fff;
}

.amazing {
	font-family: "Brandon Regular";
	font-size: 60px;
	font-weight: 100;
	color: #fff;
	padding-right: 10px;
}

.team {
	font-family: "Brandon Bold";
	font-size: 60px;
	font-weight: 800;
	color: #fff;
}

.sevens_page_container {
	display: flex;
	width: 67%;
	margin: 0 auto; 
	margin-top: 80px;
	justify-content: space-between;
}

.sevens_page_body_div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.circle {
	width: 220px;
	height: 220px;
	border-radius: 50%;
	border: 5px solid #fff;
}

.name {
	font-family: "Brandon Bold", sans-serif;
	color: #fff;
	font-size: 18px;
	line-height: 2.78;
}

.work {
	font-family: "Brandon Regular", sans-serif;
	color: #ebebeb;
	font-size: 16px;
	margin-bottom: 5%;
}

.social_networks {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.sevens_page_bottom {
	display: block;
	width: 65%;
	text-align: center;
	margin: 55px auto;
}

.sevens_page_bottom_text  {
	font-family: "Brandon Regular", sans-serif;
	font-size: 20px;
	color: #ebebeb;
}

.eighth_page {
	background-color: #7690c5;
	height: 100%;
	margin: 0 auto;
}

.eighth_page_container {
	display: flex;
	width: 70%;
	margin: 0 auto; 
	padding-top: 80px;
	justify-content: space-between;
}

.eighth_page_left {
	display: flex;
	width: 50%;
	flex-direction: column;
}



.eighth_page_left_container {
	display: flex;
	/*width: 50%;*/
	/*padding-right: 110px;*/
}

.phone, .twt, .google_plus  {
	font-family: "Brandon Regular", sans-serif;
	font-size: 18px;
	color: #fff;
	padding-top: 55px;
	padding-left: 35px;
	padding-right: 55px;
	position: relative;
}

.email, .our_facebook, .our_pinterest {
	font-family: "Brandon Regular", sans-serif;
	font-size: 18px;
	color: #fff;
	padding-left: 35px;
	padding-top: 55px;
	position: relative;
}

.email:before {
	content: url(../img/Mail-Icon.png);
	position: absolute;
	left: 0;
}

.our_facebook:before {
	content: url(../img/Facebook-Icon.png);
	position: absolute;
	left: 0;
}

.our_pinterest:before {
	content: url(../img/Pinterest-Icon.png);
	position: absolute;
	left: 0;
}

.phone:before {
	content: url(../img/Mobile-Icon.png);
	position: absolute;
	left: 0;
}

.twt:before {
	content: url(../img/Twitter-Icon.png);
	position: absolute;
	left: 0;
}

.google_plus:before {
	content: url(../img/Google+-Icon.png);
	position: absolute;
	left: 0;
}

@media screen and (max-width: 968px) {
	.nav_menu_list {
		display: flex;
		flex-direction: column;
	}

	.nav_item {
		padding-bottom: 5px;
	}

	.titles {
		margin-top: 50px;
	}

	.main_title {
		margin-top: 15px;
	}

	.second_page {
		display: flex;
		flex-direction: column;
	}

	.third_page {
		display: flex;
		flex-direction: column;
	}

	.fifth_page_body_container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.second_page_img, .third_page_img  {
		margin: 0 auto; 
	}

	.fourth_page_container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.left_column, .right_column {
		margin: 0 auto;
	}

	.six_page {
		flex-direction: column;
		align-content: center;
	}
}