h3 {
    margin: 0px;
    font-family: "Arial", sans-serif;
    font-size: 15px;
    line-height: 1.267;
    color: #263555;
}

h2 {
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 32px;
    color: #263555;
    text-transform: uppercase;
    margin-bottom: 33px;    
}


ul {
    padding-left: 0px;
}

body {
    width: 100%;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    width: 1024px;
    margin: 0 auto;
}

header {
    width: 1024px;
    height: 235px;
}

main {
    display: block;
    flex-direction: column;
    height: auto;
    background-color: #fff;
    padding: 58px 61px;
}

.top_nav {
    list-style: none;
    position: relative;
    padding-left: -40px;
}
.nav_menu {
    display: inline-block;
    font-family: 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;
    font-size: 28px;
    color: #fff;
    margin: 0 33px;
}
.nav_menu > a {
    text-decoration: none;
    color: inherit;
}

.journey{
    font-family: "Dorsa", sans-serif;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 140px;
    color: #263555;
    background-color: #fff;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    position: relative;
    top: 13px;
    text-align: center;
    text-shadow: none;
}

.nav_menu:hover {
    color: #263555;
/*    text-shadow: 1px 1px 2px black, 0 0 1em #263555;*/
}
.submenu {
    background-color: #fff;
    width: 66px;
    height: 84px;
    padding-left: -40px;
    text-align: center;
}

.submenu_list {
    background-color: #fff;
    width: 66px;
    height: 84px;
    position: absolute;
    line-height: 1.4;
    text-align: center;
    list-style: none;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 4px;
    display: none;
}

.submenu_list:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -8px;
    left: 25px;
}

.submenu_list a {
     text-decoration: none;
     color: #6b7488;
}

.about:hover > .submenu_list {
    display: block;
    top: 100px;
    left: 145px;
    transition: all .2s ease-in-out;
}

#top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 25px;
}

.agency__profile {
    width: 657px;
    /*margin-right: 20px;*/
}

.main__img {
    width: 360px;
    height: 280px;
    float: left;
    margin-right: 25px;
    margin-bottom: 25px;
}

p {
    font-family: "Arial", sans-serif;
    font-size: 13px;
    line-height: 1,462px;
}

.list1 {
    position: relative;
    width: 170px;
    counter-reset: num;
    list-style: none;
    margin-top: -12px;
}

.list1 > li::before {
    content: counter(num);
    counter-increment: num;
    color: white;
    background: #38afe5;
    display: inline-block;
    text-align: center;
    margin: 0 17px -8px -38px;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    position: relative;
    top: 15px;
}

.list1 >li > h3 {
    margin-top: -6px;
}

#bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wwo {
    width: 657px;
}

.left-list {
    display: inline-block;
    list-style-type: none;
    font-family: "Arial", serif;
    color: #263555;
    font-size: 15px;
    line-height: 1.52;
    margin-left: 70px;
    margin-right: 25px;
}

.left-list > li:before {
    content: url("../img/mark.png");
    padding-right: 15px;
    margin-left: -40px;
}

.right-list {
    display: inline-block;
    list-style-type: none;
    font-family: "Arial", serif;
    color: #263555;
    font-size: 15px;
    line-height: 1.52;
    vertical-align: top;
}

.right-list > li:before {
    content: url("../img/mark.png");
    padding-right: 15px;
}

.box_testimonial {
    height: 192px;
    width: 210px;
    background-color: #fcfafa;
}

.testimonial {
    /*margin:auto;*/
}

.text-testimonial {
    font-family: "Arial", serif;
    font-size: 15px;
    line-height: 1.267;
    padding-left: 24px;
    padding-right: 15px;
    padding-bottom: 12px;
    padding-top: 26px;
    color: #263555;
    border: 1px solid #dfdcdc;
}

.name {
    border: 0px;
    padding-left: 48px;
}

.text-testimonial:before {
    content: open-quote;
}
.text-testimonial:after {
    content: close-quote;
} 

.triangl {
    width: 0;
    height: 0;
    margin-left: 88px;
    margin-top: -7px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 25px solid #fcfafa;
}

span {
    font-family: "Arial", serif;
    font-size: 13px;
    line-height: 1.462;
    padding-left: 13px;
}